doctype html
html
    head
        link(rel="stylesheet", href="/css/master.css")
        title= title
    body
        script window.addEventListener("keydown", e => e.keyCode == "116"?window.location.reload():console.log())
        block content
