extends layout

block content
    script(src="src/socket.io.js")
    script var script; window.addEventListener("load", () => socket = io.connect("http://localhost"))
    
    script.
        socket.on("scores", () => submitValues())
    
    script(src="src/p5.js")
    script(src="src/index.js")
    script(src="src/player.js")
    script(src="src/obstacle.js")
    script(src="src/base.js")
    .end(style="display: none;")
        h1.result Game Over

        form(action="/gameScores", method="post")
            input(type="hidden", value=data.name, name="name")#un
            input(type="hidden", name="score")#score
            input(type="hidden", name="health")#hlth

            button(type="submit") Continue
            
            script.
                function submitValues() {
                    setValues()
                    this.form.submit();
                }

        script.
            function setValues() {
                document.querySelector("#score").value = score
                document.querySelector("#hlth").value = p.health
            }
